src/rust/rust
src/rust/vendor
src/rust/vendor.tar.xz
src/rust/vendor-config.toml
src/rust/Cargo.lock
src/Makevars
src/Makevars.win
/.quarto/

*.Rcheck
*.tar.gz
docs/
_quarto/
altdoc/pkgdown.yml
altdoc/freeze.rds
